body {
    display: block;
    margin: 8px;
    /*font-family: 'Baloo Paaji 2', cursive;*/
    /*font-size: 15px;*/
    /*line-height: 1.6;*/
    /*color: #FFFF00;*/
}

.header {
    width: 100%;
    padding-top: 30px;
    top: 0;
    left:0;
    right: 0;
    z-index: 1000;
    margin-bottom: 40px;
}