body {

    background: #00d9ff;
}

.container {
    display: flex;
    align-items: flex-start;
    padding-top: 0;
}

.left {
    background: #ff0000;
    flex: 2;
}

.right{
    background: #00ff15;
    flex: 5;
}
.header {
    width: 100%;
    margin-bottom: 40px;
    background: black;
}


.nav_links{
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    background: #ffd500;
}

.nav_link{
    font-size: 20px;
    color: #ffb700;
}

.nav_link_left{
    background: black;
    flex: 5;
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/
}


.nav_link_right{
    background: black;
    flex: 1;
    /*padding-left: 100px;*/
}